{# templates/pythagore/displayPythagore.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Symfony & table de pythagore{% endblock %}

{% block content %}

    <h1>Bongo Andy</h1>
    
     
{% endblock %}
